<div class="row">


    <div class="col-6">
        <div class="mb-3">
            <label for="form-label" for="">Numero 1</label><br>
            <input [(ngModel)]="num1" type="form-control" name="num1" placeholder="Numero 1">
        </div>
        <div class="mb-3">
            <label for="form-label" for="">Numero 2</label><br>
            <input [(ngModel)]="num2"  name=" form-control" name="num1" placeholder="Numero 2">
        </div>
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">Calcular</button>
        </div>

    </div>
    <div class="col-6">

        <h2>Resultado:{{resultado}}</h2>

    </div>

</div>
